* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: $background-color;
    margin: $small $small 0 $small;
}

.inactive {
    display: none;
}

.center-wrapper {
    max-width: 1360px;
    margin: 0 auto;
    padding: $small;
}
