@mixin big-headline-text($color) {
    font-family: $headline-font;
    font-weight: $bold;
    font-size: 40px;
    line-height: 50px;
    color: $color;
}

@mixin description-text() {
    font-family: $paragraph-font;
    font-weight: $regular;
    color: #000;
    font-size: 30px;
    line-height: 40px;
}

@mixin header-2() {
    font-family: $headline-font;
    font-weight: $bold;
    color: #000;
    font-size: 30px;
    line-height: 40px;
}

@mixin header-3() {
    font-family: $headline-font;
    font-weight: $bold;
    color: #000;
    font-size: 19px;
    line-height: 26px;
}

@mixin section-header() {
    font-family: $paragraph-font;
    font-weight: $regular;
    color: #000;
    font-size: 17px;
}

@mixin paragraph-text() {
    font-family: $paragraph-font;
    font-weight: $light;
    color: #000;
    font-size: 17px;
    line-height: 25px;
}

@mixin list-item($color) {
    font-family: $headline-font;
    font-weight: $bold;
    color: $color;
    font-size: 19px;
    line-height: 26px;
}

@mixin tabs-item() {
    font-family: $paragraph-font;
    font-weight: $regular;
    font-size: 17px;
    color: #000;
}

@mixin primary-button() {
    font-family: $paragraph-font;
    font-size: 17px;
    background-color: $product-color;
    color: #fff;
    border: none;
}

@mixin form-label() {
    font-family: $paragraph-font;
    font-weight: $light;
    font-size: 13px;
    color: #000;
}

@mixin form-control() {
    padding-bottom: $x-small;
    font-family: $paragraph-font;
    font-weight: $regular;
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-bottom: 1px dashed #2a2a2a;
    color: #000;
}

@mixin corousel-dots() {
    display: none;

    & + label span {
        display: inline-block;
        width: 5px;
        height: 5px;
        margin: -1px 4px 0 0;
        vertical-align: middle;
        background-color: $text-color;
        border-radius: 50%;
        cursor: pointer;
    }

    &:checked + label span {
        background-color: $product-color;
    }
}
