.characteristic {
    &__section-header {
        @include section-header;
        margin-top: $medium;
    }

    &__cards-container {
        @media (min-width: 760px) {
            display: flex;

            max-width: 1360px;
            margin: 0 auto;
            padding: $small;
        }
    }
    &__card {
        background-color: #fff;
        margin-top: $x-small;
        @media (min-width: 760px) {
            margin-right: $small;
            flex-basis: 20%;
        }
    }

    &__header {
        @include header-3;
        margin-top: $large;
    }
    &__paragraph {
        @include paragraph-text;
        margin-top: $base;
    }

    &__input-field {
        margin-top: $medium;
        display: flex;
        justify-content: center;
        align-items: center;

        @media (min-width: 760px) {
            display: none;
        }
    }

    &__input-control {
        @include corousel-dots;
    }

    &__image-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__image {
        height: 175px;
        width: auto;
        margin-top: $base;
    }
}
