//Navbar

.contact {
    &__navbar {
        margin-top: $large;

        @media (min-width: 760px) {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &__navbar-item-container {
        display: flex;
    }

    &__navbar-item {
        @include tabs-item;
        list-style: none;
        cursor: pointer;

        &:first-child {
            margin-right: 20px;
        }
    }
}

.contact-active-tab {
    font-weight: $bold;
    &::after {
        margin-top: $x-small;
        content: "";
        display: block;
        width: 30px;
        height: 3px;
        background-color: $secondary-color;
    }
}

//Form

.contact {
    margin-top: $x-small;
    background-color: #fff;

    &__form {
        @media (min-width: 760px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }
    &__form-required::after {
        content: "*";
        margin-left: 2px;
        color: $product-color;
    }

    &__form-label {
        @include form-label;
    }

    &__form-control {
        @include form-control;
        width: 100%;
    }

    &__form-control-wrapper {
        margin-top: $small;
    }

    &__form-field {
        margin-top: $medium;

        @media (min-width: 760px) {
            flex-basis: 45%;
        }

        &:first-child {
            @media (max-width: 760px) {
                margin-top: $large;
            }
        }

        &:last-child {
            @media (min-width: 760px) {
                align-self: center;
                justify-self: center;
                flex-basis: 100%;
            }
        }
    }

    &__form-textarea {
        min-height: 170px;
        max-height: 170px;
        max-width: 100%;
        min-width: 100%;
    }

    &__form-button-container {
        margin-top: $medium;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__form-button {
        @include primary-button;
        margin-bottom: $medium;
        width: 200px;
        height: 60px;
    }
}
