.features-list {
    background-color: #fff;

    &__list-container {
        margin-top: $base;
    }

    &__list-item {
        cursor: pointer;
        list-style: none;
        border-bottom: 1px solid #eee;
    }

    &__item-container-view {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__header {
        @include list-item(#000);
    }

    &__icon {
        width: 11px;
        height: 6px;
    }

    &__active {
        @include list-item($product-color);
    }
}
