.footer {
    background-color: $product-color;

    &__navigation {
        @media (min-width: 760px) {
            display: flex;
        }
    }
    &__list-header {
        @include section-header;
        font-weight: $bold;
        color: #fff;
    }

    &__list-container {
        margin-top: $base;
        li {
            list-style: none;
        }
    }

    &__list-item {
        @include paragraph-text;
        color: #fff;
        text-decoration: none;
    }

    &__list {
        margin-top: $large;
        @media (min-width: 760px) {
            margin-right: $xx-large;
        }
    }

    &__signature {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;

        @media (min-width: 760px) {
            align-items: flex-start;
        }
    }

    &__dividing-line {
        margin-top: $medium;
        height: 1px;
        width: 100%;
        background-color: #e8e9eb;
    }
}

.signature__image {
    margin-top: $small;
    width: 40px;
    height: auto;
}
