.innovation {
    background-color: #fff;

    &__header {
        @include header-2;
        margin-top: $x-large;

        &--item {
            @include header-3;
            margin-top: $small;

            @media (min-width: 760px) {
                margin-top: $x-large;
            }
        }
    }

    &__description {
        @include description-text;
        margin-top: $large;
        font-size: 22px;
        line-height: 32px;
    }

    &__image {
        margin-top: $large;
        height: 320px;
        width: auto;

        @media (min-width: 760px) {
            display: none;
        }

        &--desktop {
            height: 590px;
            width: auto;
            @media (max-width: 760px) {
                display: none;
            }
        }
    }

    &__heading {
        @media (min-width: 760px) {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    &__text {
        @media (min-width: 760px) {
            flex-basis: 50%;
        }
    }

    &__paragraph {
        @include paragraph-text;
        margin-top: $medium;
    }
}
