//Mobile

.navbar {
    display: flex;
    height: 61px;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    @media (min-width: 760px) {
        display: none;
    }

    &__logo {
        width: 33px;
        height: auto;
    }

    &__burger-menu {
        width: 14px;
        height: auto;
    }

    &__drawer-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__paragraph {
        @include section-header;
    }

    &__dropdown {
        margin-left: $x-small;
        width: 11px;
        height: auto;
    }
}

//Desktop

.navbar-desktop {
    display: flex;
    flex-direction: column;
    @media (max-width: 760px) {
        display: none;
    }

    //Menu

    &__menu {
        display: flex;
        justify-content: space-between;
        background-color: #fff;
    }

    &__logo {
        width: 130px;
        height: auto;
    }

    &__menu-list {
        display: flex;
    }

    &__list-element {
        margin-right: $base;
        list-style: none;
    }

    &__item {
        text-decoration: none;
        @include tabs-item;
    }

    //Navigation

    &__navigation {
        background-color: #fff;
    }

    &__navigation-wrapper {
        display: flex;
    }

    &__navigation-header {
        @include section-header;
        margin-right: $base;
    }
}

.nav-active-tab {
    font-weight: $bold;
    &::after {
        margin-top: $x-small;
        content: "";
        display: block;
        width: 30px;
        height: 3px;
        background-color: $secondary-color;
    }
}
