.target {
    margin-top: $x-large;

    &__wrapper {
        @media (min-width: 760px) {
            display: flex;
        }
    }

    &__item {
        @media (min-width: 760px) {
            margin-right: $medium;
            flex-basis: 20%;
        }
    }
    &__header {
        @include header-2;
        margin-top: $medium;
    }

    &__paragraph {
        @include paragraph-text;
        margin-top: $medium;
    }

    &__input-field {
        margin-top: $medium;
        display: flex;
        justify-content: center;
        align-items: center;

        @media (min-width: 760px) {
            display: none;
        }
    }

    &__input-control {
        @include corousel-dots;
    }
}
